@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('/fonts/BaronNeue-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Apply the font to different text elements */
body {
    font-family: 'Baron Neue', sans-serif;
}
